@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 124, 68, 79;
  --color-secondary: 159, 82, 85;
  --color-accent: 225, 106, 84;
  --color-highlight: 243, 158, 96;
}

body {
  background-color: #ffffff;
  /* background: radial-gradient(circle at top right, #768c8c, #1c9191); */
  color: #333;
}

.card-bg {
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(238, 238, 238);
}

h1, h2, h3, h4, h5, h6 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

/* p {
  font-family: 'Courier New', monospace;
} */

